.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  
  max-width: 400px;
  margin: 30px auto;
  background: rgb(220, 218, 116);
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  border:solid ;
  border-width: 5px;
  border-color: green;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);

}

h2, h3, h4 {
  text-align: center;
}

.money.plus {
  color: green;
  background-color: beige;
  border: solid 3px;
  border-radius: 5px;
}

.money.minus {
  color: red;
  background-color: beige;
  border: solid 3px;
  border-radius: 5px;

  border-color: green;
}

.list {
  list-style: none;
  padding: 0;
}
.balance{
  background-color: beige;
  border: solid 3px;
  border-color: green;
    border-radius: 5px;

}

.list li {
  background: #dec5c5;
  margin: 8px 0;
  padding: 10px;
  border: 5px solid;
  display: flex;
  justify-content: space-between;
  border-color: green;
  border-radius: 5px;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}


 
