header{
    text-align: left;
}

div{
    text-align: center;
}
body{
    background-image: url(OIP.jpg);
    background-position: center;
    background-size: cover;
}
h1{
    font-size:70px;
}